<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= user.first_name %> | Carry Dashboard</title>
    <%- include('./includes/head'); -%>
    <link rel="stylesheet" href="./css/carryDashboard.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('./includes/header'); -%>

    <!--note you have to rerender here because you need updated data-->
    <% if (locals.modal.length > 0) { %> 
    <div class="bg-modal">
      <div class="modal-contents" tabindex="-1">
        <div class="close">+</div>
        <h1 class="popup-title">
          🎉 <%= modal[0] %>
        </h1>
        <p class="acceptance">
          You have successfully matched with a carrier
        </p>
        <div class="popup-contact">
          <h2 class="contact-title">
            Contact Now
          </h2>
          <div id="popup-phone-number" class="flex">
            <i class="fas fa-phone"></i>
            <p class="margin-left"></p>
          </div>
          <div id="popup-email" class="flex">
            <i class="fas fa-envelope-open-text"></i>
            <p class="margin-left"></p>
          </div>
        </div>
      </div>
    </div>
  <% } %>

    <!-- varying dashboard states -->
    <!-- No Trips -->
    <% if(!currentTrip) {%>
    <div class="no-offer">
      <h1 class="center more-margin-top">Start Your Trip</h1>
      <img src="./assets/images/to-the-moon.svg" alt="Start your trip" />
      <div class="center button">
        <a href="/new-trip">New Trip <i class="fas fa-plus"></i></a>
      </div>
    </div>
    <!-- No Offers -->
    <%} else if(currentOffers.length < 1) {%>
    <div class="receiver-title">
      <h1>No Current Offers</h1>
    </div>
    <!-- <section id="current-trip"> -->
    <div class="no-offer">
      <img
        src="./assets/images/waiting-undraw.svg"
        alt="No Current Offers Image"
      />
      <p class="no-offer-text">
        Come back later when you receive more offers
      </p>
    </div>

    <h2 class="previous-trip-header">Current Trip</h2>
    <section id="previous-trip" class="flex">
      <div class="direction-time">
        <div class="direction flex">
          <h4><%= currentTrip.from_city %></h4>
          <i class="fas fa-long-arrow-alt-right"></i>
          <h4><%= currentTrip.to_city %></h4>
        </div>

        <h5><%=formattedDate%></h5>
      </div>
      <div class="prev-sender">
        <h4>Max Size</h4>
        <h5 class="more-margin-bot"><%= currentTrip.size %></h5>
      </div>
      <div class="prev-price">
        <h3 class="blue margin-top">$<%=currentTrip.price%></h3>
      </div>
    </section>
    <!-- Offers available but hasn't accepted any -->
    <% } else if(currentOffers && !acceptedPackage) { %> 
      <% for(let offer of currentOffers) { %>
    <section class="gray-box">
      <div id="offer-left">
        <img src="<%= offer.img_url %>" alt="Receiver Image" />
        <div class="package-title margin-top">
          <h2 class="title"><%= offer.package_title %></h2>
          <h2 class="offer-price">$<%= currentTrip.price %></h2>
        </div>
      </div>
      <div id="offer-right">
        <h4 class="package-description margin-bot">
          Package Details
        </h4>
        <p class="package-information margin-bot">
          <%= offer.package_desc %>
        </p>
        <h4 class="package-description margin-bot">
          Delivery Notes
        </h4>
        <p class="package-information margin-bot">
          <%= offer.delivery_note %>
        </p>
        <div class="acceptance-btn">
          <form action='/carry-dashboard/accept' method="POST">
              <input type="hidden" name="tripId" value="<%=currentTrip.id_trip%>"/>
              <input type="hidden" name="packageId" value="<%=offer.id_package%>"/>
              <button type="submit" class="button accept" id="modal-button">Accept</button>
          </form>
          <form action='/carry-dashboard/decline' method="POST">
            <input type="hidden" name="packageId" value="<%=offer.id_package%>"/>
            <button class="button decline">Decline</button>
          </form>
        </div>
      </div>
    </section>
      <% } %> 
    <% } else { %>
    <div class="receiver-title">
      <h1>Current Delivery - <%=acceptedUser.first_name%> <%=acceptedUser.last_name%></h1>
    </div>
    <section class="gray-box">
      <div id="offer-left">
        <img src="<%= acceptedPackage.img_url %> " alt="Receiver Image" />
        <div id="title-cost" class="flex">
          <h3 class="package-title package-description"><%=acceptedPackage.package_title%></h3>
          <h3 class="package-cost">$<%=currentTrip.price %></h3>
        </div>
        <div id="trip-locations" class="flex">
          <div class="trip-starting">
            <p class="city"><%=currentTrip.from_city%></p>
          </div>
          <i class="fas fa-long-arrow-alt-right"></i>
          <div class="trip-ending">
            <p class="city"><%=currentTrip.to_city%></p>
            <p class="trip-time small-text"><%=formattedDate%></p>
          </div>
        </div>
      </div>
      <div id="offer-right">
        <h4 class="package-description margin-bot">
          Package Details
        </h4>
        <p class="package-information margin-bot">
          <%=acceptedPackage.package_desc%>
        </p>
        <h4 class="package-description margin-bot">
          Delivery Notes
        </h4>
        <p class="package-information margin-bot">
          <%=acceptedPackage.delivery_note%>
        </p>
        <h4 class="package-description margin-bot">
          Contact Information
        </h4>
        <div class="phone-num flex margin-bot">
          <i class="fas fa-phone"></i>
          <p id="full-number" class="margin-left"><%=acceptedUser.phone_num%></p>
        </div>
        <div class="email flex">
          <i class="fas fa-envelope-open-text"></i>
          <p id="email" class="margin-left"><%=acceptedUser.email%></p>
        </div>
      </div>
    </section>
    <%}%> 
    <% if( locals.prevTrips.length > 0) { %>
    <h2 class="previous-trip-header">Previous Trips</h2>
    <% } %> <% for(let trip of prevTrips) { %>
    <section id="previous-trip" class="flex">
      <div class="direction-time">
        <div class="direction flex">
          <h4><%= trip.from_city %></h4>
          <i class="fas fa-long-arrow-alt-right"></i>
          <h4><%=trip.to_city%></h4>
        </div>
        <h5><%=trip.date%></h5>
      </div>
      <div class="prev-sender">
        <h4>Sender</h4>
        <h5><%=trip.first_name%> <%=trip.last_name%></h5>
      </div>
      <div class="prev-price">
        <h3 class="blue margin-top">$<%=trip.price%></h3>
      </div>
    </section>
    <% } %> <%- include('./includes/footer'); %>
  </body>
  <!-- <script src="/js/script.js"></script> -->
  <script src="/js/carryDashboard.js"></script>
  <script src="/js/popupModal.js"></script>
</html>
