<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carry Dashboard</title>
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/carryDashboard.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('./includes/header'); -%>

    <!-- popup code -->
    <%if(locals.offerName && locals.phoneNum && locals.carryEmail) { %>
    <div class="popup-box popup-position">
      <div id="popup-wrapper">
        <%- include('./includes/popup', { offerName: offerName, phoneNum:
        phoneNum, carryEmail: carryEmail, }); -%>
      </div>
    </div>
    <% } %>

    <!-- varying dashboard states -->
    <% if(!locals.fromCity && !locals.toCity) {%>

    <div class="no-offer">
      <h1 class="center more-margin-top">Start Your Trip</h1>
      <img src="./assets/images/to-the-moon.svg" alt="Start your trip" />
      <div class="center button">
        <a>New Trip <i class="fas fa-plus"></i></a>
      </div>
    </div>

    <%} else if(!locals.offerName && !locals.potentialOffers) {%>
    <div class="receiver-title">
      <h1>No Current Offers</h1>
    </div>
    <!-- <section id="current-trip"> -->
    <div class="no-offer">
      <img
        src="./assets/images/waiting-undraw.svg"
        alt="No Current Offers Image"
      />
      <p class="no-offer-text">
        Come back later when you receive more offers
      </p>
    </div>

    <h2 class="previous-trip-header">Current Trip</h2>
    <section id="previous-trip" class="flex">
      <div class="direction-time">
        <div class="direction flex">
          <h4><%= fromCity %></h4>
          <i class="fas fa-long-arrow-alt-right"></i>
          <h4><%= toCity%></h4>
        </div>

        <h5><%=tripDate%></h5>
      </div>
      <div class="prev-sender">
        <h4>Max Size</h4>
        <h5 class="more-margin-bot"><%=tripSize%></h5>
      </div>
      <div class="prev-price">
        <h3 class="blue margin-top">$<%=tripPrice%></h3>
      </div>
    </section>
    <!-- </section> -->

    <%} else if(locals.potentialOffers && !locals.offerName) {%> <%for(let i =
    0; i < potentialOffers.length; i++) { %>
    <section class="gray-box">
      <div id="offer-left">
        <img src="./assets/images/sent-team.png" alt="Receiver Image" />
        <div class="package-title margin-top">
          <h2 class="title"><%=potentialOffers[i].pacakgeTitle%></h2>
          <h2 class="offer-price">$<%=potentialOffers[i].price%></h2>
        </div>
      </div>
      <div id="offer-right">
        <h4 class="package-description margin-bot">
          Package Details
        </h4>
        <p class="package-information margin-bot">
          <%=potentialOffers[i].packageDetail%>
        </p>
        <h4 class="package-description margin-bot">
          Delivery Notes
        </h4>
        <p class="package-information margin-bot">
          <%=potentialOffers[i].deliveryNotes%>
        </p>
        <div class="acceptance-btn">
          <a class="button accept" href="#">Accept</a>
          <a class="button decline" href="#">Decline</a>
        </div>
      </div>
    </section>
    <% } %> <% } else { %>
    <div class="receiver-title">
      <h1>Current Offer - <%=offerName%></h1>
    </div>
    <section class="gray-box">
      <div id="offer-left">
        <img src="./assets/images/sent-team.png" alt="Receiver Image" />
        <div id="title-cost" class="flex">
          <h3 class="package-title package-description"><%=packageName%></h3>
          <h3 class="package-cost">$<%=tripPrice%></h3>
        </div>
        <div id="trip-locations" class="flex">
          <div class="trip-starting">
            <p class="city"><%=fromCity%></p>
            <p class="trip-time small-text"><%=tripTime%></p>
          </div>
          <i class="fas fa-long-arrow-alt-right"></i>
          <div class="trip-ending">
            <p class="city"><%=toCity%></p>
            <p class="trip-time small-text"><%=tripDate%></p>
          </div>
        </div>
      </div>
      <div id="offer-right">
        <h4 class="package-description margin-bot">
          Package Details
        </h4>
        <p class="package-information margin-bot">
          <%=packageDescription%>
        </p>
        <h4 class="package-description margin-bot">
          Delivery Notes
        </h4>
        <p class="package-information margin-bot">
          <%=deliveryNotes%>
        </p>
        <h4 class="package-description margin-bot">
          Contact Information
        </h4>
        <div class="phone-num flex margin-bot">
          <i class="fas fa-phone"></i>
          <p id="full-number" class="margin-left"><%=phoneNum%></p>
        </div>
        <div class="email flex">
          <i class="fas fa-envelope-open-text"></i>
          <p id="email" class="margin-left"><%=carryEmail%></p>
        </div>
      </div>
    </section>
    <%}%> <% if( locals.prevTrips.length > 0) { %>
    <h2 class="previous-trip-header">Previous Trips</h2>
    <% } %> <% for(let trip of prevTrips) { %>
    <section id="previous-trip" class="flex">
      <!-- <div class="shadow-trip-route">
        <div class="previous-trip-route">
          <h3 class="previous-trip-from">
            <%=trip.prevFrom%>
          </h3>
          <i class="fas fa-long-arrow-alt-down"></i>
          <i class="fas fa-long-arrow-alt-right hidden"></i>
          <h3 class="previous-trip-to">
            <%=trip.prevTo%>
          </h3>
        </div>
      </div>
      <div class="flex">
        <div class="prev-trip-infofirst prevtrip-margin-left">
          <p class="prev-date bot-margin">
            <strong>Date: </strong><%=trip.prevDate%>
          </p>
          <p class="prev-time bot-margin">
            <strong>Time: </strong><%=trip.prevTime%>
          </p>
          <p class="prev-size"><strong>Size: </strong><%=trip.prevSize%></p>
        </div>
        <div class="prev-trip-infosecond prevtrip-margin-left">
          <p class="prev-price bot-margin">
            <strong>Asking Price: </strong>$<%=trip.prevPrice%>
          </p>
          <p class="prev-sender bot-margin">
            <strong>Sender: </strong><%=trip.prevSender%>
          </p>
        </div>
      </div> -->

      <div class="direction-time">
        <div class="direction flex">
          <h4><%= trip.prevFrom %></h4>
          <i class="fas fa-long-arrow-alt-right"></i>
          <h4><%=trip.prevTo%></h4>
        </div>
        <h5><%=trip.prevDate%></h5>
      </div>
      <div class="prev-sender">
        <h4>Sender</h4>
        <h5><%=trip.prevSender%></h5>
      </div>
      <div class="prev-price">
        <h3 class="blue margin-top">$<%=trip.prevPrice%></h3>
      </div>
    </section>
    <% } %> <%- include('./includes/footer'); %>
  </body>
  <script src="/js/script.js"></script>
  <script src="/js/carryDashboard.js"></script>
</html>
