<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trip Info | <%= carrierName %></title>
    <link rel="stylesheet" href="/css/order.css" >
    <%- include('./includes/head'); %>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <%- include('./includes/header'); %>
    </header>
    <section id="carrier-profile-form">
      <div id="carrier-profile">
        <div class="carrier-img">
          <!--dynamic image loading here ?-->
          <img src="<%=profilePic%>" alt="carrierName" />
        </div>
        <div id="name-price">
          <div id="carrier-name-desc">
            <h2 class="carrier-name">
              <%= carrierName %>
            </h2>
            <p class="carrier-desc">
              Can carry anything that fits in a <%= carrierDesc %>
            </p>
          </div>
          <div id="carrier-price">
            <h2 class="price">
              <%= carrierPrice %>
            </h2>
          </div>
        </div>
        <div id="city-info">
          <div class="from-city city">
            <h3>
              <%= fromCity %>
            </h3>
            <h4 class="time">
             <%=leaveDate %>
            </h4>
          </div>
          <img
            id="long-arrow-svg"
            src="/assets/icons/long-arrow.svg"
            alt="Long Arrow"
          />
          <div class="to-city city">
            <h3>
              <%= toCity %>
            </h3>
          </div>
        </div>
      </div>
      <div id="send-form">
        <h1 class="submit-order">Delivery Request</h1>
        <form action="/order" method="post" enctype="multipart/form-data">
          <div class="form-package-title form-control">
            <label for="package-title">Package Title:</label>
            <input
              required
              autocomplete="off"
              type="text"
              name="packageTitle"
              id="package-title"
              maxlength="40"
              class="gray-box"
            />
            <small>Please enter package title</small>
          </div>
          <div class="form-package-desc form-control">
            <label for="package-desc">Package Description:</label>
            <textarea
              name="packageDesc"
              id="package-desc"
              cols="25"
              rows="7"
              wrap="soft"
              required
              maxlength="160"
              autocomplete="off"
              class="gray-box"
            ></textarea>
            <small>Please enter package description</small>
          </div>
          <div class="form-delivery-notes form-control">
            <label for="package-notes">Delivery Notes:</label>
            <textarea
              name="packageNotes"
              id="package-notes"
              cols="25"
              rows="5"
              wrap="soft"
              required
              maxlength="160"
              autocomplete="off"
              class="gray-box"
            ></textarea>
          </div>
          <div class="form-package-image form-control">
            <label for="package-image">Package Image:</label>
            <input
              required
              autocomplete="off"
              type="file"
              name="image"
              id="package-image"
              maxlength="40"
              class="gray-box"
            />
            <small>Please include package image</small>
          </div>
          <!-- <div class="form-email form-control">
            <label for="package-email">Email: </label>
            <input
              type="text"
              autocomplete="off"
              name="package-email"
              id="package-email"
              maxlength="40"
              class="gray-box"
            />
            <small>Please enter a valid email</small>
          </div>
          <div class="form-number form-control">
            <label for="package-number">Phone Number: </label>
            <input
              type="text"
              autocomplete="off"
              name="package-number"
              id="package-number"
              maxlength="14"
              class="gray-box"
            />
            <small>Please enter valid phone number</small>
          </div> -->
          <div class="button">
            <!-- <a id="submit-order" href="#">Submit Order</a> -->
            <button type="submit">Submit Request</button>
          </div>
          <input type="hidden" name="tripId" value="<%=tripId%>">
        </form>
      </div>
    </section>
    <%- include('./includes/footer'); %>
  </body>
  <script src="/js/validate.js"></script>
  <script src="/js/order.js"></script>
</html>
