<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= user.first_name %> | Send Dashboard</title>
    <%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="./css/sendDashboard.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('./includes/header'); -%>
    <main class="send-dashboard">
      <!-- no sends state -->
      <% if(locals.currentSends.length === 0) {%>
      <div class="no-requests-state">
        <h1>You haven't requested any carriers yet</h1>
        <img
          src="./assets/images/submitting-form.svg"
          alt="No Current Sends Image"
        />
        <p>Check out trips being made everyday <a href="/">here.</a></p>
      </div>
      <!-- regular state with multiple requests -->
      <%}else{%>
      <div class="requests-state">
        <h1>My Sends</h1>
        <% for(let send of currentSends) { %>
        <section class="request">
          <h1>
            <%=send.status%> -
          </h1>
          <div class="content">
            <div class="carrier-details">
              <h2>$<%=send.carrier.price%></h2>
              <h2>Carrier: <%=send.carrier.first_name%> <%=send.carrier.last_name%></h2>
              <% if(send.status === 'Accepted'){ %>
              <div>
                <p>
                  <i class="fa fa-phone fa-flip-horizontal"></i
                  ><%=send.carrier.phone_num%>
                </p>
                <p>
                  <i class="fa fa-envelope"></i
                  ><%=send.carrier.email%>
                </p>
              </div>
              <% } else { %>
              <a href="#">Cancel Request</a>
              <%}%>
            </div>
            <div class="package-details">
              <h2><%= send.package_title %></h2>
              <p><%= send.package_desc %></p>
              <div class="direction-time">
                <div class="direction flex">
                  <h4><%= send.carrier.from_city %></h4>
                  <i class="fas fa-long-arrow-alt-right"></i>
                  <h4><%= send.carrier.to_city %></h4>
                </div>
                <h5>
                  <%= send.carrier.date %>
                </h5>
              </div>
            </div>
          </div>
        </section>
        <%}%>
      </div>
      <%}%>
    </main>
  </body>
</html>
